*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
}
.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background: #3868ee;
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}

#trend-card{
    padding-top: 575px;
    padding-left: 25%;
}
.demo-card-wide.mdl-card {
    width: 512px;
    
  }
  .demo-card-wide > .mdl-card__title {
    color: rgb(24, 4, 4);
    height: 176px;
    
  }
  .demo-card-wide > .mdl-card__menu {
    color: rgb(59, 11, 11);
  }