*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background: #3868ee;
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}

#trend-card{
    padding-top: 50px;
    padding-left: 40%;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('Capture.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
  .grid-container {
    display: grid;
    row-gap:  50px;
    height: 100vh;
    grid-template-rows: 500px auto 500px;
  }